.products-page {
  text-align: center;
  padding: 60px 5%;
  background-color: #fff;
}

.products-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.products-subtitle {
  font-size: 1.1rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 50px;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.product-card {
  width: 350px;
  text-align: left;
  background: #fff;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-info {
  margin-top: 15px;
}

.product-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 500;
  color: #111;
}

.product-desc {
  color: #555;
  font-size: 0.95rem;
  margin: 10px 0;
}

.product-link {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  color: #111;
  text-decoration: none;
  border-bottom: 2px solid #111;
}

.product-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
  background-color: transparent !important;
  color: inherit
}




