.blog-detail {
  width: 70%;
  margin: 50px auto;
  font-family: "Inter", sans-serif;
}

.blog-detail h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.blog-detail-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.blog-detail p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 15px;
}

.blog-detail-video {
  width: 100%;
  height: auto;
  max-height: 450px;
  display: block;
  border-radius: 8px;
  margin: 20px 0;
}

