.vitriflex-container {
  width: 90%;
  margin: 40px auto;
  font-family: "Inter", sans-serif;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #444;
  text-decoration: none;
}

.vitriflex-box {
  display: flex;
  gap: 40px;
  background: #fff;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 35px rgba(0,0,0,0.06);
}

/* IMAGE VIEWER */
.vitriflex-image-viewer {
  width: 50%;
  position: relative;
}

.vitriflex-main-image {
  width: 100%;
  border-radius: 12px;
}

.nav-arrow {
  position: absolute;
  top: 45%;
  background: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.left { left: -20px; }
.right { right: -20px; }

.vitriflex-thumbnails {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.thumbnail {
  width: 85px;
  height: 85px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  object-fit: contain;
}

.thumbnail.active {
  border: 2px solid #000;
  opacity: 1;
}

/* PRODUCT DETAILS */
.vitriflex-details {
  width: 50%;
}

.product-title {
  font-size: 2.2rem;
  margin-bottom: 12px;
}

.product-title span {
  
  padding: 0 8px;
}

.product-summary {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 25px;
}

.section-title {
  margin-top: 25px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.feature-list {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.ideal-for p {
  margin: 5px 0;
}
